<%- include('includes/head') %>

<form action="/" method="post">
  <label>Cliente</label>
  <input type="text" name="cliente">
  <button>Submit</button>
</form>
</section>>

<%- include('includes/footer') %>